.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.conversation-container {
  flex: 1;
}

.input-container {
  flex-shrink: 0;
  width: 100%;
  height: 100px;
  background-color: white;
}

.form-field {
  width: 100%;
}